# Copy this to .env before running: make test-stack
# docker compose -f docker-compose.test.yml --env-file deploy/test.env up --build -d

GF_ADMIN_PASSWORD=changeme
PZ_SRV1_ADMIN_PASSWORD=changeme
PZ_SRV2_ADMIN_PASSWORD=changeme
